<nav>
    <% if (role == "admin") { %>
        <a href="/employees">Employees</a>
    <% } %>

    <% if (role == "stock" || role == "admin") { %>
        <a href="/products/edit">Products</a>
    <% } %>

    <% if (role == "sales" || role == "admin") { %>
        <a href="/orders/view">Orders</a>
    <% } %>
    
    <a href="/authenticate/logout">Logout</a>
</nav>