<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Minute Coffee - Staff Login</title>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %>
            <section>
                <form
                    action="/staff_login"
                    method="post"
                    class="form-grid responsive-half margin-auto"
                >
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" />
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" />
                    <a href="/" class="link-button">Back</a>
                    <input type="submit" value="Login" />
                </form>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>
