* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: black 2px solid;
}

header a {
    color: black;
    text-decoration: none;
}

header h1 {
    font-size: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: black 2px solid;
}

nav a {
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0;
    padding-top: 10px;
    border-top: black 2px solid;
}

input, select {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
}

textarea {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    height: 6em;
    resize: none;
}

.search-form {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.link-button.sales-button {
    box-sizing: border-box;
    background-color: greenyellow;
}

.coffee-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.coffee-list > .coffee-card p {
    height: 10em;
}

.coffee-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coffee-card img {
    width: 100%;
}

.coffee-card p {
    overflow: hidden;
    max-height: 10em;
}

.link-button, .coffee-card a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    border: black 1px solid;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.checkout-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.form-grid {
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.form-grid .two-col {
    grid-column: 1 / 3;
}

.responsive-half {
    width: 50%;
    max-width: 700px;
}

.margin-auto {
    margin: auto;
}

.half-half-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.data-list {
    display: grid;
    align-content: flex-start;
    align-items: center;
    gap: 20px;
}

.cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cols-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.data-list-heading {
    font-weight: bold;
}

.order-update-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.sales-section h3 {
    margin: 1rem 0;
}

.sales-section p {
    margin: 0.5rem 0;
}

summary {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    
    main {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .coffee-list {
        grid-template-columns: 1fr;
    }
    
    .checkout-layout {
        grid-template-columns: 1fr;
    }
    
    .responsive-half {
        width: 100%;
    }
    
    .half-half-layout {
        grid-template-columns: 1fr;
    }

    .order-update-form {
        grid-template-columns: 1fr;
    }
}