<nav>
    <% if (accessRole === "admin") { %>
    <a href="/staff_admin">Staff</a>
    <a href="/product_admin">Products</a>
    <a href="/order_admin">Orders</a>
    <% } else if (accessRole == "stock") { %>
    <a href="/product_admin">Products</a>
    <% } else if (accessRole == "sales") { %>
    <a href="/order_admin">Orders</a>
    <% } %>
    <a href="/staff_logout">Logout</a>
</nav>